/*CSS reset settings here*/
*{ 
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 1000px;
    height: 600px;
    background-color: silver;
    margin: 0px auto;
   }
   #header{
    position: absolute;
    width: 925px;
    height: 125px;
    background-color: green;
    top: 15px;
    left: 200px;
   
   }
   #navigation{
    position: absolute;
    
    height: 300px;
    width: 200px;
    background-color: blue;
    top: 170px;
    left: 200px;
    
   }
   #main_content{
       position: fixed;
    min-height: 400px;
    width: 700px;
    background-color: red;
    left: 425px;
    top: 170px;
   }
   .subcontents{
    margin: 15px;
    display: inline-block;
    min-height: 200px;
    width: 190px;
    background-color: yellow;
   
   }
   #advertisement{
       margin: 15px;
    min-height: 120px;
    width: 640px;
    background-color: purple;
   }
   
   